* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: white;

}

ul {
    list-style: none;
    font-size: 20px;
    color: #fc036b;
    border-radius: 60px;
    padding: 5px;

}

/* Activation main color */

.active {
    color: #fc036b;
    font-weight: bold;
}


/* Navbar */

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: white;
    font-weight: bold;
    border: #fc036b solid 2px;
    padding: 20px;
    background: #37376b;
    text-align: center;

}

.nav-links {
    display: flex;
    align-items: center;

}

.nav-links li {
    margin: 0 30px;
    cursor: pointer;

}

/* Photo profile */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.profile-container {
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    height: 50px;
}

.profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 40px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

/* Logo Homepage */

.logo img {
    border: 2px solid;
    border-radius: 10px;
    color: #fc036b;
    width: 40%;
    margin-right: 500px;

}

.logo {
    margin-right: 0;


}


/* Homepage banner image */

header {
    width: 100vw;
    height: 100vh;
    background-image: url('./images/banner.png');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;


}

.header-content {
    margin-bottom: 100px;
    color: white;
    text-align: center;
}

.header-content h2 {
    font-size: 4vmin;
}


/* Underline below h2 */

.line {
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;

}


/* Homepage h1 Title */

.header-content h1 {
    font-size: 7vmin;
    margin-top: 70px;
    margin-bottom: 30px;
}


/* Button Homepage below h1 Title */

.ctn {
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: white;
}


/* Menu Button hamburgher style */

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

/* Upcoming Travel "Events" section */

section {
    width: 80%;
    margin: 80px auto;

}

.title {
    text-align: center;
    font-size: 4vmin;
    color: #49497e;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 500px;
    border-radius: 8px;
    border: #fc036b solid 2px;
}

.events .row {
    margin-top: 50px;

}

h4 {
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
}

p {
    color: #7c7c7c;
    padding: 0px 40px;
}

.events .ctn {
    margin-top: 30px;

}

/* Explore the world section */

.explore {
    width: 100%;
    height: 100vh;
    background-image: url(./images/exploretheworld.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;

}

.explore-content {
    width: 60%;
    padding: 50px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.explore-content h1 {
    font-size: 5vmin;
    margin: 80px;
}

.explore-content .line {
    margin-top: 10px;
    margin-bottom: 30px;
}

.explore-content p {
    color: white;
}

.explore-content .ctn {
    margin-top: 40px;
}

/* Tours section */

.content-col {
    width: 40%;
}

.image-col {
    width: 60%;
}

.tours .image-gallery {
    display: inline;
    width: 100%;
    align-items: center;

}

.image-gallery img {
    max-width: 400px;
    margin: 10px;
    border-radius: 8px;
    border: #fc036b solid 2px;


}

.content-col h1 {
    font-size: 6vmin;
    color: #484872;
}

.content-col .line {
    margin-left: px;
}

.content-col p {
    padding: 0;
    margin: 30px auto;
}

.content-col .ctn {
    margin-left: -100;
}

/* Videos tours section */

.video-content {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: #fc036b solid 2px;
    background: #fc036b;

}

.video-setting {
    padding: 20px;

}

.different-landscapes {
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
    text-align: center;

}

/* Footer section */

.footer {
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    border: #fc036b solid 2px;
    background: #37376b;
    text-align: center;

}

.footer p {
    color: white;
    margin: 20px auto;
}

/* Tours page  */

.tour-content img {
    align-items: center;
    display: inline;
    border-radius: 8px;
    border: #fc036b solid 2px;

}

.images-gallery {
    padding-top: 80px;

}

.ctn-tour {
    margin-top: 30px;
}

/* Explore page  */

.explore-video {
    padding: 100px;


}


/* Mobile device responsive setting */

@media only screen and (max-width:850px) {

    .menu-btn {
        display: block;
    }

    .navbar {
        padding: 0;
    }

    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #484872;
        margin-top: -900px;

    }

    .mobile-menu {
        margin-top: 0px;
        border-bottom-right-radius: 30px;
    }

    .nav-links li {
        margin: 30px auto;
    }

    /* Events section - Mobile device responsive setting */

    .row {
        flex-direction: column;
    }

    .row .col {
        margin: 20px auto;
    }

    .col img {
        max-width: 90%;
    }

    /* Explore section - Mobile device responsive setting */

    .explore-content {
        width: 100%;
    }

    /* Tours section - Mobile device responsive setting */

    .tours .col {
        width: 100%;
    }

    .image-gallery {
        justify-content: center;
        align-items: center;
    }

    .image-gallery img {
        width: 90%;
    }

    /* Footer section - Mobile device responsive setting */

    .footer {
        padding: 10px;
    }
}